<div class="navi">
  <nav class="nav admin_nav">
    <ul>
      <li class="<%= val === 'catg' ? 'active' : ''  %>"> <a href="/add_catg">&#9872; Add Catogries </a> </li>
      <li class="<%= val === 'blog' ? 'active' : ''  %>"> <a href="/add_blog">&#9788; Add Blog</a> </li>
    </ul>
  </nav>
</div>
<div class="logout">
  <a href="/logout">logout</a>
</div>
