<div class="nofound text-center" dir="ltr">
  <div class="nofound_img">
    <img src="/assets/error.svg" alt="error" />
  </div>
  <p>Oppsis...</p>
  <p><b style="color: red;">Error 404</b>, <%= errorMsg %></p>
  <p>Patience! We are working for you...</p>
</div>
